/********** Template CSS **********/
body{
  /* background-color: #2C3E50; */
  background-color: #121212;
  color: #D6D6D6;
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 991.98px) {
  .sticky-lg-top.vh-100 {
    height: 100% !important;
  }
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-medium {
  font-weight: 500;
}

.btn-square {
  width: 40px;
  height: 40px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 50px;
  height: 50px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-primary {
  color: #FFFFFF;
}
.btn:hover {
  color: #eee;
}
.btn-secondary {
  color: #fff;
  background-color: #314355;
  border-color: #314355;
}
.btn-square, .btn-sm-square, .btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-secondary {
  background-color: #1E1E1F !important;
}
.btn-primary:hover {
  background-color: #26c38f;
  border-color: #1abf88;
}
a {
  color: #00B87B;
  text-decoration: none;
}
a:hover {
  color: #009362;
}
.text-light {
  color: #eee !important;
}
.btn-square {
  width: 40px;
  height: 40px;
}
.mx-1 {
  margin-right: .25rem !important;
  margin-left: .25rem !important;
}
.btn-secondary {
  color: #fff;
  background-color: #314355 !important;
  border-color: #314355 !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #eee;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.w-50 {
  width: 50% !important;
}
.border-end {
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.d-flex {
  display: flex !important;
}
.typed-cursor {
  font-size: 25px;
  color: #F2F2F2;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1;
  font-size: 30px;
  right: 30px;
  bottom: 30px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  color: #00B87B;
}

.back-to-top i:hover {
  color: #2C3E50;
}

.back-to-top {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

/*** Left Side ***/
.img {
  width: 200px !important;
  border-radius: 100%;
  margin: 0 auto;
}
.bg{
  background-color: #1E1E1F;
}
.avatar-box{
  border-radius: 100%;
  padding: 20px;
  background-color: #363637;
  margin: 0 auto;
  width: 250px;
}
.title {
  position: relative;
}
.text-primary {
  color: #00B87B !important;
}
.title::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 0;
  border: 2px solid #F2F2F2;
  border-radius: 10px;
}

.title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 15px;
  border-radius: 2px;
  background: #F2F2F2;
}

.progress {
  height: 5px;
}

.progress .progress-bar {
  width: 0px;
  transition: 2s;
}

.service-item {
  padding: 30px;
  text-align: center;
  background: #314355;
}

.service-item i {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F2F2;
  color: #00B87B;
  transition: .5s;
}

.service-item:hover i {
  background: #00B87B;
  color: #F2F2F2;
}

/*** Portfolio ***/

.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  font-size: 50px;
  background: rgba(44, 62, 80, .9);
  opacity: 0;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}

.portfolio-item i {
  opacity: 0;
  transition: .3s;
  transition-delay: .3s;
}

.portfolio-item:hover i {
  opacity: 1;
}

.testimonial-carousel .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.testimonial-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: #F2F2F2;
}

.testimonial-carousel .owl-dot.active {
  background: #00B87B;
}
.btn-secondary.active{
  background-color: #273644 !important;
}
.form-control:focus {
  color: #eee;
  background-color: #fff;
  border-color: #80dcbd;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(0, 184, 123, 0.25);
}
.contact-btn i{
  font-weight: 400;
  line-height: 1.5;
  color: #eee;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #314355 !important;
  border-color: #314355 !important;
  width: 40px;
  height: 40px;
  margin-right: .25rem !important;
  margin-left: .25rem !important;
}
.contact-text{
  color: #eee;
}